$main_width: 400px;
$main_height: 420px;
$radius: 10px;
$tarsition: 300ms;


@mixin date_elem {
    width: 50px;
    height: 45px;
    display: grid;
    place-items: center;
}

@mixin year_month_elem ($w_item, $h_item) {
    width: calc((380px - 20px) / $w_item);
    height: calc((300px - 10px) / $h_item);
    display: grid;
    place-items: center;
}

@mixin pos {
    position: absolute;
    left: 10px;
    right: 10px;
}


@mixin hover_effect ($color) {
    cursor: pointer;
    color: $color;
}




.calendar_wrapp {
    position: relative;
    width: $main_width;
    height: $main_height;
    border-radius: $radius;
    padding: 10px;
    margin-right: 10px;
    overflow: hidden;
    grid-column: 2/3;


    header {
        width: inherit;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10px;
        div{
            .back_today{
                margin-top: 5px;
            }
        }

        .arrows {
            display: flex;
            justify-content: space-between;
            width: 50px;
        }


    }

    .emty {
        height: 50px;
    }

    main {
        width: calc($main_width - 20px);
        height: calc($main_height - 20px - 100px);
        display: flex;
        flex-direction: column;
    }




    /* ==================== datepicker style  ==================== */

    .date {
        width: calc($main_width - 20px);
        height: calc($main_height - 20px);
        transition: $tarsition;
        @include pos;

        .week_days {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 50px;

            .elem {
                @include date_elem();
            }
        }

        main {
            .month_dates {
                display: flex;
                flex-direction: column;
                gap: 5px;
                height: 300px;

                .row {
                    display: flex;
                    gap: 5px;
                    align-items: stretch;

                    .select_date {
                        border: 2px solid blue !important;
                    }

                    .data_elem {
                        @include date_elem();

                    }

                    .today {
                        border: 2px solid rgba(107, 27, 27,);
                    }

                    .has_tasks {
                        background: linear-gradient(135deg, rgba(0, 0, 255, 0) 90%, orange 10%);
                    }
                }

            }
        }
    }

    /* ==================== monthpicker style  ==================== */

    .month {
        width: calc($main_width - 20px);
        height: calc($main_height - 20px);
        transform: scale(1.5);
        visibility: hidden;
        opacity: 0;
        transition: $tarsition;
        @include pos;
    }

    .month_in_year {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;

        .row {
            display: flex;
            gap: 5px;

            .data_elem {
                @include year_month_elem(4, 3);
            }

            .data_elem {
                &:hover {
                    @include hover_effect(white);
                }
            }
        }
    }

    /* ==================== years_picker style  ==================== */

    .year {
        width: calc($main_width - 20px);
        height: calc($main_height - 20px);
        transform: scale(1.5);
        visibility: hidden;
        opacity: 0;
        transition: $tarsition;
        @include pos;
    }

    .years {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;

        .row {
            display: flex;
            gap: 5px;

            .data_elem {
                @include year_month_elem(3, 3);
            }

            .data_elem {
                &:hover {
                    @include hover_effect(white);

                }
            }
        }
    }

    .active_month,
    .active_year {
        background-color: blue;
    }


}




.show {
    transform: scale(1) !important;
    opacity: 1 !important;
    visibility: visible !important;
    transition: $tarsition;
}

.hide {
    transition: $tarsition;
    visibility: hidden !important;
    opacity: 0 !important;
    transform: scale(.5) !important;
}




@media screen and (max-width: 1050px) {
    .calendar_wrapp {
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 0 10px;
    }
}

@media screen and (max-width: 700px) {
    .calendar_wrapp {
        margin: 0 5px;
    }
}

@media screen and (max-width: 570px) {
    .calendar_wrapp {
        margin: auto
    }
}