
$width: 300px;


.navigation {
    position: relative;
    width: $width;
    height: 100vh;
    min-height: 500px;
    border-radius: 0 10px 10px 0;
    padding: 25px 25px 25px 40px;

}

.user {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;

    .avatar {
        width: calc($width - 250px);
        height: calc($width - 250px);
        border-radius: 50%;
        background-image: url('../../assets/images/avatar-g5cd60da16_640.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    h3 {
        height: 23px;
    }
}

hr {
    margin: 25px 0px;
    opacity: .4;
}


nav {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: flex-start;

    a {
        height: 27px;
        text-decoration: none;
        text-transform: uppercase;
    }
}

.logout {
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    width: inherit;

    .icon {
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }


    &:hover {
        cursor: pointer;

        h6 {
            color: blue;
        }
    }

}


.mode_switcher {
    display: flex;
    align-items: center;
    gap: 8px;

    h5 {
        text-transform: uppercase;

        &:hover {
            cursor: pointer;
        }
    }
}

@import "./responsive_nav_style.scss";
