$bgc: rgb(236, 231, 221);


.form_block {
    width: 450px;
    height: 400px;
    padding: 15px;
    border-radius: 10px;
    background-color: $bgc;

    h3 {
        margin-bottom: 30px;
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        div {
            display: flex;
            flex-direction: column;

            input {
                background-color: rgba(255, 255, 255, 0.5);
                font-size: 16px;
                padding: 0 5px;
                height: 35px;
                width: 100%;
                border: none;

                &:focus {
                    outline: none;
                }
            }

            span {
                transition: .3s;
                align-self: center;
                width: 0%;
                box-sizing: border-box;
                height: 2px;
            }
            .anime_line{
                transition: .3s;
                width: 100%;
                background-color: blue;
            }
            p{
                height: 18px;
            }

        }

        .form_buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;

            button {
                padding: 5px 10px;
                background-color: rgb(11, 167, 11);
                border: none;
                border-radius: 5px;

                &:hover {
                    cursor: pointer;
                    color: white;
                }
            }

            h6 {
                text-transform: uppercase;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }
}