#dashboard {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: max-content;
    min-height: 100vh;

    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;

    table {
        border-collapse: collapse;
    }

    th,
    td {
        padding: 5px;
        height: 50px;
        border: 1px solid;
        min-width: min-content;
        text-align: center;

    }

    thead {
        tr {
            th {
                div {
                    display: flex;

                    p {
                        flex: 8;
                        justify-items: center;
                        text-transform: uppercase;
                    }

                    div {
                        padding: 0 2px;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .pagination {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 35px 0 15px 0;


        .for_input {
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 203px;
            p{
                font-size: 1rem;
            }
        }

        .page_count {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 280px;
            height: 35px;

            h3 {
                width: 20px;
                margin: 0 10px;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .active_page {
            color: green;
        }
    }
}



@media screen and (min-width: 1300px) {
    #dashboard {
        margin-left: 10px;
    }
}



@media screen and (max-width: 1299px) {
    #dashboard {
        margin-left: 85px;
    }

}

@media screen and (max-width: 700px) {
    #dashboard {
        margin: 0 5px 0 80px;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 570px) {
    #dashboard {
        margin: 60px 0 0 0;
        min-height: calc(100vh - 60px);
    }
}