$color_dark_theme: rgb(221, 201, 201);
$dark:#2a2834;
@mixin hover_effect ($color) {
    cursor: pointer;
    color: $color !important;
}


.dark {
    background-color:  $dark!important;
    color: $color_dark_theme !important;

    a {
        color: $color_dark_theme !important;
    }

    .arrows {
        h2:hover {
            @include hover_effect(white);
        }
    }

    .date_title,
    .back_today,
    a {
        &:hover {
            @include hover_effect(white)
        }
    }

    .prev_month_date,
    .next_month_date {
        color: gray !important;

        &:hover {
            color: rgb(228, 176, 176) !important;

        }
    }

    ._task {
        color: $color_dark_theme !important;

        &:hover {
            @include hover_effect(white);
        }
    }

    .active_link {
        border-bottom: 2px solid $color_dark_theme
    }

    .task {
        &:hover {
            @include hover_effect(white);
        }
    }


    nav {
        a {
            color: $color_dark_theme;

            &:hover {
                @include hover_effect(white);
            }
        }

        .todolist {
            background-image: url("../images/clipboard_dark.png");
        }

        .dashboard {
            background-image: url("../images/dashboard_dark.png");
        }
    }

    .icon {
        transform: rotate(180deg);
        background-image: url("../images/logout_dark.png");
    }

    .logout,
    .mode_switcher {
        &:hover {
            @include hover_effect(white);
        }
    }
    .user_panel{
        background-color: $dark;
    }

}

@media screen and (max-width: 570px) {
    #root{
        background-color: $dark;
    }
}