$color_light_theme: rgb(23, 55, 94);
$hover_light: rgb(34, 32, 32);
$lihght: rgb(245, 237, 237);

@mixin hover_effect ($color) {
    cursor: pointer;
    color: $color !important;
}


.light {
    background-color: $lihght !important;
    color: $color_light_theme !important;

    a {
        color: $color_light_theme !important;

    }

    .arrows {
        h2:hover {
            @include hover_effect($hover_light);
        }
    }

    .date_title,
    .back_today,
    a {
        &:hover {
            @include hover_effect($hover_light)
        }
    }

    .prev_month_date,
    .next_month_date {
        color: gray !important;

        &:hover {
            color: $hover_light !important;

        }
    }

    ._task {
        color: $color_light_theme !important;

        &:hover {
            @include hover_effect($hover_light);
        }
    }

    .active_link {
        border-bottom: 2px solid $color_light_theme
    }

    .task {
        &:hover {
            @include hover_effect($hover_light);
        }

        .delete_task {
            background-image: url('../images/delete-light-theme.png') !important;
        }

        .eddit_task {
            background-image: url('../images/edit-light-theme.png') !important;
        }
    }

    nav {
        a {
            color: $color_light_theme;

            &:hover {
                @include hover_effect($hover_light);
            }
        }

        .todolist {
            background-image: url("../images/clipboard_light.png");
        }

        .dashboard {
            background-image: url("../images/dashboard_light.png");
        }
    }

    .icon {
        transform: rotate(180deg);
        background-image: url("../images/logout.png");
    }

    .logout,
    .mode_switcher {
        &:hover {
            @include hover_effect($hover_light);
        }
    }

    .user_panel {
        background-color: $lihght;
    }

    .task {
        background-color: $lihght;
    }

    .weather_icon {
        border-radius: 100%;
        background: radial-gradient(rgba(0, 0, 255, 0.3) 0%, $lihght 57%);
    }
}

@media screen and (max-width: 570px) {
    body {
        background-color: $lihght;
    }

    .light {
        .todolist {
            background-image: url("../images/clipboard_light.png");
        }

        .dashboard {
            background-image: url("../images/dashboard_light.png");
        }
    }
}