* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

#root {
    display: flex;

    main {
        flex: 1;
        display: grid;
        grid-template-columns: 1fr min-content;
        height: 100vh;
    }
}


#modal {
    position: fixed;
    top: 0;
    left: 0;

    .modal_wrapper,
    .modal_wrapper_eddit_form {
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        display: grid;
        place-items: center;
    }

    .modal_wrapper_eddit_form {}
}


@media screen and (max-width: 1299px) {
    #main {
        margin-left: 75px;
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
    }
}