@import "style_form.scss";
@import "darkTheme.scss";
@import "lightTheme.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

#root {
    display: flex;
    height: max-content;
    #main{
        flex: 1;
        display: grid;
        z-index: 1;
    }
}


@media screen and (min-width: 1300px) {
    #main {
        grid-template-columns: 1fr min-content;
        grid-template-rows: 420px min-content;
        gap: 10px;
        
    }
}


@media screen and (max-width: 1299px) {
    #main {
        flex: 1;
        grid-template-columns: 1fr max-content;
        grid-template-rows: 420px max-content;
        gap: 10px;
        margin-left: 75px;
    }
}

@media screen and (max-width: 1050px)  {
    #main{
        grid-template-columns: minmax(450px, 1fr) 1fr ;

    }
}


@media screen and (max-width: 700px) {
    #main {
        gap: 5px !important;
        grid-template-columns: 1fr;
    }
    .add{
        font-size: 20px !important;
    }
    .date_title{
        font-size: 20px !important;

    }
}

@media screen and (max-width: 570px) {
    #main {
        grid-template-columns: 1fr;
        margin-left: 0;
        margin-top: 60px;
        gap: 5px !important;
    }
}