@import "style_form.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

#root {
    display: flex;

    main {
        flex: 1;
        display: grid;
        grid-template-columns: 1fr min-content;
        height: 100vh;
    }
}






@media screen and (max-width: 1299px) {
    #main {
        margin-left: 75px;
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
    }
}