.about {
    width: calc(100% - 10px);
    height: 100%;
    border-radius: 10px;
    p {
        text-transform: uppercase;
    }

}


@media screen and (min-width: 701px) {
    .about {
        grid-row: 2/3;
        grid-column: 2/3;
        padding: 10px;

        ul {
            margin: 0 20px;
        }
    }
}


@media screen and (max-width: 700px) {
    #main {
        gap: 5px !important;
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
    }

    .add {
        font-size: 20px !important;
    }

    .date_title {
        font-size: 20px !important;

    }
}

@media screen and (max-width: 570px) {
    #main {
        grid-template-columns: 1fr;
        margin-left: 0;
        margin-top: 60px;
        gap: 5px !important;
    }
}